* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

h1 {
  font-size: 30px;
}

h4 {
  font-size: 22px;
}

/* main */

.main-bg {
  height: 500px;
  padding: 20px;
  background: linear-gradient(
    to bottom,
    rgba(72, 115, 241, 1),
    rgba(188, 126, 250, 1)
  );
  color: white;
  overflow: hidden;
}

.main-container {
  display: flex;
  max-width: 1200px;
  margin: auto;
}

.main-text {
  margin-top: 50px;
}

.btn {
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.btn-black {
  color: white;
  background: grey;
  transition: all 1s;
}

.btn-black:hover {
  background: black;
}

.btn-black:active {
  background: red;
}

.main-desc {
  margin: 20px auto;
}

.main-img {
  display: block;
  width: 400px;
  margin-top: 45px;
}

/* main-bottom */
.main-bottom {
  display: block;
  height: 200px;
  margin: auto;
  text-align: center;
}

/* service */
.service-bg {
  height: 350px;
  padding: 40px;
  background: rgba(72, 115, 241, 1);
  text-align: center;
  color: white;
}

.section-text {
  display: block;
}

.service-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}

.service-item {
  margin-right: 30px;
}

.service-item:last-child {
  margin-right: 0;
}

.service-icon {
  width: 80px;
  height: 80px;
  padding-top: 22px;
  text-align: center;
  background: white;
  border-radius: 50%;
  color: rgba(72, 115, 241, 1);
}

.service-text {
  margin-top: 20px;
}

/* Portfolio */

.portfolio-bg {
  height: 1000px;
  padding: 40px;
  text-align: center;
  color: white;
}

.text-bk {
  color: black;
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 40px auto 0px auto;
}

.portfolio-content {
  position: relative;
  display: block;
  width: 50%;
  height: 400px;
  text-align: left;
}

.port-1 {
  background: url("../img/portfolio-1.jpg") no-repeat center;
}

.port-2 {
  background: url("../img/portfolio-2.jpg") no-repeat center;
}

.port-3 {
  background: url("../img/portfolio-3.jpg") no-repeat center;
}

.port-4 {
  background: url("../img/portfolio-4.jpg") no-repeat center;
}

.content-opacity {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  padding: 50px;
  background: rgba(0, 0, 0, 0.5);
  transition: all 1s;
}

.portfolio-content:hover .content-opacity {
  border: 20px solid white;
}

/* Mobile */

@media screen and (max-width: 768px) {
  /* main */
  .main-container {
    position: relative;
    flex-direction: column;
    align-items: center;
  }

  .main-text {
    text-align: center;
  }

  .main-title {
    font-size: 25px;
  }

  .main-desc,
  .btn {
    font-size: 12px;
  }

  .main-img {
    position: absolute;
    width: 230px;
    margin-top: 230px;
  }

  /* main-bottom */
  .subtitle {
    font-size: 18px;
  }

  /* service */
  .service-bg {
    height: 500px;
  }

  .service-list {
    flex-wrap: wrap;
    justify-content: start;
    margin: 0 auto;
  }

  .service-item {
    margin: 30px 15px 0px 15px;
  }

  .service-item:nth-child(2) {
    margin-right: 0;
  }
}
